.header__column--right .button {
	margin-left: 20px;
}
header .menu-list__submenu ,
header .menu-list__submenu-inner{
	background: var(--dark-blue);
}
header .mega-menu__list .mega-menu__link span {
	color: var(--grey-text);
}
header .mega-menu__list .mega-menu__link.mega-menu__link--parent {
	background: #39B4E71F;
	border-radius: 2em;
	padding: 8px 15px;
    margin-bottom:10px;
}
header .mega-menu__list .mega-menu__link.mega-menu__link--parent span {
	color:var(--sky-color);
	font-weight:700;
    font-size:12px;
    letter-spacing:1.2px;
    text-transform:uppercase;
}
header ul.mega-menu__list ul {
	padding: 0 10px;
}
header .mega-menu ul.mega-menu__list {
    display: flex;
    justify-content: space-between;
}
.best-seller-block {
    background: linear-gradient(135deg, #09274C 0%, #09294F 11.11%, #092C53 22.22%, #0A2E56 33.33%, #0A315A 44.44%, #0A335D 55.56%, #0A3660 66.67%, #0A3864 77.78%, #0A3A67 88.89%, #0A3D6B 100%);
    padding: 15px;
    border: 1px solid rgba(255,255,255,0.1);
    border-radius: 8px;
    margin-top: 20px;
}
.best-seller-block h2 {
    font-size: 12px;
    font-weight: 700;
	text-transform:uppercase;
}