.header__column--right .button {
	margin-left: 20px;
}
header .menu-list__submenu ,
header .menu-list__submenu-inner{
	background: var(--dark-blue);
}
header .mega-menu__list .mega-menu__link span {
	color: var(--grey-text);
    font-family:var(--menu-child-font-family);
}
header .mega-menu__list .mega-menu__link.mega-menu__link--parent {
	background: #39B4E71F;
	border-radius: 2em;
	padding: 8px 15px;
    margin-bottom:10px;
}
header .mega-menu__list .mega-menu__link.mega-menu__link--parent span {
	color:var(--sky-color);
	font-weight:700;
    font-size:12px;
    letter-spacing:1.2px;
    text-transform:uppercase;
}
header ul.mega-menu__list ul {
	padding: 0 10px;
}
header .mega-menu ul.mega-menu__list {
    display: flex;
    justify-content: space-between;
}
.best-seller-block {
    background: linear-gradient(135deg, #09274C 0%, #09294F 11.11%, #092C53 22.22%, #0A2E56 33.33%, #0A315A 44.44%, #0A335D 55.56%, #0A3660 66.67%, #0A3864 77.78%, #0A3A67 88.89%, #0A3D6B 100%);
    padding: 15px;
    border: 1px solid rgba(255,255,255,0.1);
    border-radius: 8px;
    margin-top: 20px;
}
.best-seller-block span {
    font-size: 12px;
    font-weight: 700;
    color: var(--sky-color);
    text-transform: uppercase;
    letter-spacing: 1.2px;
}
.best-seller-block h2 {
    font-size: 20px;
    font-weight: 800;
    color: #fff;
    text-transform: uppercase;
    max-width: 150px;
    margin: 10px 0;
    display: block;
    width: 100%;
    white-space: normal;
}
.best-seller-block p {
    font-weight: 600;
    margin:0;
    font-size: 13px;
    color: rgba(255,255,255,0.7);
}
.best-seller-block a {
    max-width: 150px;
    background: var(--sky-color);
    border-radius: 4px;
    min-height: 56px;
    font-size: 15px;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    margin-top: 10px;
}